<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>DisplayProductName</key>
		<string>DELL U2715H (HiDPI)</string>
		<key>DisplayVendorID</key>
		<integer>4268</integer>
		<key>DisplayProductID</key>
		<integer>53353</integer>
		<key>scale-resolutions</key>
		<array>
			<data>AAAQAAAACQA=</data> <!-- 2048x1152^2 -->
			<data>AAAPgAAACLg=</data> <!-- 1984x1116^2 -->
			<data>AAAPAAAACHA=</data> <!-- 1920x1080^2 -->
			<data>AAAOgAAACCg=</data> <!-- 1856x1044^2 -->
			<data>AAAOAAAAB+A=</data> <!-- 1792x1008^2 -->
			<data>AAANgAAAB5g=</data> <!-- 1728x972^2 -->
			<data>AAANAAAAB1A=</data> <!-- 1664x936^2 -->
			<data>AAAMgAAABwg=</data> <!-- 1600x900^2 -->
			<data>AAAMAAAABsA=</data> <!-- 1536x864^2 -->
			<data>AAALgAAABng=</data> <!-- 1472x828^2 -->
			<data>AAALAAAABjA=</data> <!-- 1408x792^2 -->
			<data>AAAKgAAABeg=</data> <!-- 1344x756^2 -->
			<data>AAAKAAAABaA=</data> <!-- 1280x720^2 -->
			<data>AAAIAAAABIA=</data> <!-- 1024x576^2 -->
			<data>AAAHgAAABDg=</data> <!-- 960x540^2 -->
			<data>AAAQAAAACQAAAAABAKAAAA==</data> <!-- 2048x1152 (HiDPI) -->
			<data>AAAPgAAACLgAAAABAKAAAA==</data> <!-- 1984x1116 (HiDPI) -->
			<data>AAAPAAAACHAAAAABAKAAAA==</data> <!-- 1920x1080 (HiDPI) -->
			<data>AAAOgAAACCgAAAABAKAAAA==</data> <!-- 1856x1044 (HiDPI) -->
			<data>AAAOAAAAB+AAAAABAKAAAA==</data> <!-- 1792x1008 (HiDPI) -->
			<data>AAANgAAAB5gAAAABAKAAAA==</data> <!-- 1728x972 (HiDPI) -->
			<data>AAANAAAAB1AAAAABAKAAAA==</data> <!-- 1664x936 (HiDPI) -->
			<data>AAAMgAAABwgAAAABAKAAAA==</data> <!-- 1600x900 (HiDPI) -->
			<data>AAAMAAAABsAAAAABAKAAAA==</data> <!-- 1536x864 (HiDPI) -->
			<data>AAALgAAABngAAAABAKAAAA==</data> <!-- 1472x828 (HiDPI) -->
			<data>AAALAAAABjAAAAABAKAAAA==</data> <!-- 1408x792 (HiDPI) -->
			<data>AAAKgAAABegAAAABAKAAAA==</data> <!-- 1344x756 (HiDPI) -->
			<data>AAAKAAAABaAAAAABAKAAAA==</data> <!-- 1280x720 (HiDPI) -->
			<data>AAAIAAAABIAAAAABAKAAAA==</data> <!-- 1024x576 (HiDPI) -->
			<data>AAAHgAAABDgAAAABAKAAAA==</data> <!-- 960x540 (HiDPI) -->
		</array>
		<!--
			Sets default resolution and enables HiDPI selection in Preferences.
			[6.33, 6.53] => 1920x1080 (5 items)
				=> [Larger Text - 1280x720 - 1600x900 - 1920x1080 - 2048x1152 - 2560x1440 - More Space]
			[6.54, 6.75] => 1984x1116 (5 items)
				=> [Larger Text - 1280x720 - 1600x900 - 1984x1116 - 2048x1152 - 2560x1440 - More Space]
			[6.76, ....] => 2048x1152 (4 items)
				=> [Larger Text - 1280x720 - 1600x900 - 2048x1152 - 2560x1440 - More Space]
		 -->
		<key>target-default-ppmm</key>
		<real>6.43</real>
		<key>DisplayIsTV</key>
		<false />
	</dict>
</plist>
